::-webkit-scrollbar{
    display: none;
}

body{
    font-family:cursive;
    background-color: black;
}

.hljs{
    border-radius: 1rem;
}


.fa-trash{
    opacity:0;
    position: absolute;
    right:0
}

.threads:hover .fa-trash{
    opacity: 1;
}

.fa-trash:hover{
    color: rgb(166, 15, 15);
}


.sidebar {
    width:400px;
    transition: width 0.3s ease;
}

.sidebar.collapsed {
  width: 70px;
}

.options:hover{
    background-color: rgb(10, 82, 190);
    
}

